{%- if (data.user) -%}
  {# data.user | dump #}  
  {% set loggedIn = true %}
{% else %}
  {% set loggedIn = false %}
{%- endif -%}

{% set prefix = apos.modules['apostrophe-workflow'].lang() %}

<div id="pen-header">
  <div id="pen-header-container">

    <div id="pen-header-banner">
    </div>

    <div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <!-- <a class="navbar-brand" href="/">PEN</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">


          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
              <a class="nav-link" href="/">{{ __('Home') }}<span class="sr-only">(current)</span></a>
            </li>
      
            <li class="nav-item">
              <a class="nav-link" href="/{{ prefix }}/projects">{{ __('Projects') }}</a>
            </li>

            {%- if not loggedIn -%}
            <li class="nav-item">
              <a class="nav-link" href="/login">{{ __('Login') }}</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/{{ prefix }}/registration">{{ __('Register') }}</a>
            </li>

            {% else %}
             <li class="nav-item">
              <a class="nav-link" href="/logout">{{ __('Logout') }}</a>
            </li>
            {%- endif -%}

          </ul>


          <ul class="navbar-nav">
          {# apos.workflow.localizations() | dump #}
          {% for localization in apos.workflow.localizations() %}
            <li>
              <a class="nav-link" href="{{ localization._url | build({ workflowLocale: localization.workflowLocale }) }}">
                {{ localization.label }}
              </a>
            </li>
            {% endfor %}
          </ul>



      
        </div>
    
      </nav>
    </div>




  </div>
</div>


